@import "tailwindcss";

@layer utilities {
  .font-victor-mono {
    font-family: var(--font-victor-mono), monospace;
  }

  .font-poppins {
    font-family: var(--font-poppins), sans-serif;
  }
}


@theme {
  /* Colors */
  --color-primary-100: #AAFFFA;
  --color-primary-200: #55FFF5;
  --color-primary-300: #00FFF0;
  --color-primary-400: #00C6BA;
  --color-primary-500: #008C84;
  --color-primary-alpha-10: #00FFF01A;

  --color-secondary-100: #AAFFEF;
  --color-secondary-200: #55FFDE;
  --color-secondary-300: #00FFCE;
  --color-secondary-400: #00C6A0;
  --color-secondary-500: #008C71;
  --color-secondary-alpha-10: #00FFCE1A;

  --color-neutral-100: #FFFFFF;
  --color-neutral-200: #E8E8E8;
  --color-neutral-300: #D2D2D2;
  --color-neutral-400: #BBBBBB;
  --color-neutral-500: #A4A4A4;
  --color-neutral-600: #8E8E8E;
  --color-neutral-700: #777777;
  --color-neutral-800: #606060;
  --color-neutral-900: #4A4A4A;
  --color-neutral-1000: #333333;
  --color-neutral-alpha-10: #3333331A;

  --color-red-100: #FB3748;
  --color-red-200: #D00416;
  --color-red-alpha-10: #FB37481A;

  --color-yellow-100: #FFDB43;
  --color-yellow-200: #DFB400;
  --color-yellow-alpha-10: #FFDB431A;

  --color-green-100: #84EBB4;
  --color-green-200: #1FC16B;
  --color-green-alpha-10: #1FC16B1A;

  /* Spacing */
  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 16px;
  --spacing-s: 24px;
  --spacing-m: 32px;
  --spacing-l: 40px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --spacing-3xl: 80px;
  --spacing-4xl: 96px;

  /* Border Radius */
  --border-radius-none: 0px;
  --border-radius-2xs: 6px;
  --border-radius-xs: 12px;
  --border-radius-s: 18px;
  --border-radius-m: 24px;
  --border-radius-l: 30px;
  --border-radius-xl: 36px;
  --border-radius-2xl: 48px;
  --border-radius-full: 999px;

  /* Border Width */
  --border-width-s: 0.5px;
  --border-width-m: 1px;
  --border-width-l: 2px;
  --border-width-xl: 3px;
}